name: Training Pipeline (Daily)

# Trigger: every day at 2 AM UTC
on:
  schedule:
    - cron: "0 2 * * *"  # daily at 2:00 AM UTC
  workflow_dispatch:      # optional manual trigger

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Training Script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python training_pipeline\train_model.py

      - name: Update Predictions
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python prediction_pipeline\predict_aqi.py
